.logocarpi{
    width: 20rem;
}

.fondoMarrón{
    background-color: #fafafa;
}

header{
    background-image: url(imagenes/);
    background-position: center;
    background-size: cover;
    
    
    
}  